* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    /* border: 1px solid red; */
}

body {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); 
}

img {
    border-radius: 37% 63% 29% 71% / 64% 32% 68% 36%  ;
    margin: 10px auto 10px;
    display: block;
    max-width: 50%;
    height: auto;
}

article {
    padding: 10px;
    background-color: white;
}

.container {
}
