* {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    text-align: center;
}

#nav {
    background-color: #059669;
    color: white;
}

#sidebar {
    background-color: #0891b2;
    color: white;
}
#main {
    background-color: #2563eb;
    color: white;
}
#footer {
    background-color: #7c3aed;
    color: white;
}
